<h2>{{categoria.name}}</h2>
{{#each postagens}}
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h4>{{title}}</h4><hr>
            <p>{{description}}</p>
            <a href="/post/{{slug}}"><button class="btn btn-primary">Leia mais</button></a><hr>
            <small>{{#formatDate date}}{{/formatDate}}</small>
        </div>
    </div>
    {{else}}
        <h4 class="fs4 text-muted mt-4">Nenhuma postagem registrada</h4>
{{/each}}